<script type="text/javascript" language="javascript">$(function() { ajaxify('#get_id'); ajaxify('#get_id2'); ajaxify('#get_id3'); ajaxify('#get_vagones'); ajaxify('#set_vagones'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Anade el tren indicado al conjunto; si ya existe un tren con el mismo identificador, sus datos se sobreescriben.
 *  \pre cierto
 *  \post 'tren' forma parte del conjunto.
 */</span><span class="type">
void</span> Cjt_Trenes<span class="operator">::</span>set_tren<span class="operator">(</span>Tren<span class="operator"> &amp;</span>tren<span class="operator">) {</span><span class="type">
  bool</span> found<span class="operator"> =</span><span class="bool"> false</span><span class="operator">;</span><span class="type">
  int</span> id_tren<span class="operator"> =</span> tren<span class="operator">.</span><%= link_to('get_id', practica_pro2_path(:r => 'get_id'), remote: true, id: 'get_id', :'data-type' => :json) %><span class="operator">();</span>
  list<span class="operator">&lt;</span>Tren<span class="operator">&gt;::</span>iterator it<span class="operator"> =</span> _trenes<span class="operator">.</span>begin<span class="operator">();</span><span class="flow">
  while</span><span class="operator"> (</span>it<span class="operator"> !=</span> _trenes<span class="operator">.</span>end<span class="operator">()</span><span class="operator"> and</span><span class="operator"> (*</span>it<span class="operator">).</span><%= link_to('get_id', practica_pro2_path(:r => 'get_id'), remote: true, id: 'get_id3', :'data-type' => :json) %><span class="operator">() &lt;=</span> id_tren<span class="operator"> and not</span> found<span class="operator">) {</span><span class="flow">
    if</span><span class="operator"> ((*</span>it<span class="operator">).</span><%= link_to('get_id', practica_pro2_path(:r => 'get_id'), remote: true, id: 'get_id2', :'data-type' => :json) %><span class="operator">() ==</span> id_tren<span class="operator">) {</span>
      vector<span class="operator">&lt;</span><span class="type">int</span><span class="operator">&gt;</span> vagones<span class="operator"> =</span> tren<span class="operator">.</span><%= link_to('get_vagones', practica_pro2_path(:r => 'get_vagones'), remote: true, id: 'get_vagones', :'data-type' => :json) %><span class="operator">();
      (*</span>it<span class="operator">).</span><%= link_to('set_vagones', practica_pro2_path(:r => 'set_vagones'), remote: true, id: 'set_vagones', :'data-type' => :json) %><span class="operator">(</span>vagones<span class="operator">);</span>
      found<span class="operator"> =</span><span class="bool"> true</span><span class="operator">;
    }</span><span class="flow"> else</span><span class="operator"> ++</span>it<span class="operator">;
  }</span><span class="flow">
  if</span><span class="operator"> (</span><span class="operator">not</span> found<span class="operator">)</span> _trenes<span class="operator">.</span>insert<span class="operator">(</span>it<span class="operator">,</span> tren<span class="operator">);
}</span></pre>
</div>