<script type="text/javascript" language="javascript">$(function() { ajaxify('#get_tren'); ajaxify('#set_salida'); ajaxify('#set_tiempo'); ajaxify('#get_tiempo_rec'); ajaxify('#sort'); adjust_overflow(); });</script>
<div style="text-align:left; padding:0px 15px 0px 15px;">
<pre><span class="comment">/** @brief Lee las horas de salida de los trenes para el almacenamiento nocturno del canal estandar de entrada, y devuelve una lista con esos trenes ordenada por hora de llegada.
 *  \pre cierto
 *  \post Retorna una lista de los trenes indicados ordenada por hora de llegada.
 */</span>
list<span class="operator">&lt;</span>Tren<span class="operator">&gt;</span> Cjt_Cocheras<span class="operator">::</span>get_trenes_almacenamiento_nocturno<span class="operator">(</span><span class="keyword">const</span> Red<span class="operator"> &amp;</span>red<span class="operator">,</span> Cjt_Trenes<span class="operator"> &amp;</span>trenes<span class="operator">)</span><span class="keyword"> const</span><span class="operator"> {</span>
  list<span class="operator">&lt;</span>Tren<span class="operator">&gt;</span> trenes_almacenamiento<span class="operator">;</span><span class="type">
  int</span> num_trenes<span class="operator"> =</span> readint<span class="operator">();</span><span class="flow">
  for</span><span class="operator"> (</span><span class="type">int</span> i<span class="operator"> =</span><span class="int"> 0</span><span class="operator">;</span> i<span class="operator"> &lt;</span> num_trenes<span class="operator">;</span> i<span class="operator">++) {</span><span class="type">
    int</span> id_tren<span class="operator"> =</span> readint<span class="operator">();</span><span class="type">
    int</span> hora<span class="operator"> =</span> readint<span class="operator">();</span><span class="type">
    int</span> minuto<span class="operator"> =</span> readint<span class="operator">();</span><span class="type">
    int</span> hora_salida<span class="operator"> =</span> hora<span class="operator"> *</span><span class="int"> 60</span><span class="operator"> +</span> minuto<span class="operator">;</span>
    Tren tren<span class="operator"> =</span> trenes<span class="operator">.</span><%= link_to('get_tren', practica_pro2_path(:r => 'get_tren'), remote: true, id: 'get_tren', :'data-type' => :json) %><span class="operator">(</span>id_tren<span class="operator">);</span>
    tren<span class="operator">.</span><%= link_to('set_hora_salida', practica_pro2_path(:r => 'set_salida'), remote: true, id: 'set_salida', :'data-type' => :json) %><span class="operator">(</span>hora_salida<span class="operator">);</span>
    tren<span class="operator">.</span><%= link_to('set_tiempo_recorrido', practica_pro2_path(:r => 'set_tiempo'), remote: true, id: 'set_tiempo', :'data-type' => :json) %><span class="operator">(</span>red<span class="operator">.</span><%= link_to('get_tiempo_estacion', practica_pro2_path(:r => 'get_tiempo_rec'), remote: true, id: 'get_tiempo_rec', :'data-type' => :json) %><span class="operator">(</span>id_tren<span class="operator">));</span>
    trenes_almacenamiento<span class="operator">.</span>insert<span class="operator">(</span>trenes_almacenamiento<span class="operator">.</span>end<span class="operator">(),</span> tren<span class="operator">);
  }</span>
  trenes_almacenamiento<span class="operator">.</span>sort<span class="operator">(</span><%= link_to('sort_hora_llegada', practica_pro2_path(:r => 'sort'), remote: true, id: 'sort', :'data-type' => :json) %><span class="operator">);</span><span class="flow">
  return</span> trenes_almacenamiento<span class="operator">;
}</span></pre>
</div>