<% unless @comment.errors.empty? %>
<!-- jump to the leave reply form in case errors were found -->
<script type="text/javascript" language="javascript">
  <!--
  $(document).ready(function() { 
    window.location.hash = "leave_reply";
  });
  -->
</script>
<% end %>
<div style="padding:0px 25px 10px 25px;">
  <div style="padding-bottom:15px;">
    <span style="font-size:1.8em"><a name="leave_reply">Leave a reply</a></span>
  </div>
  <%= form_for @comment, :url => post_comments_path(@post.id) do |f| %>
    <%= f.error_messages :header_message => nil, :message => nil, :header_tag => :h3 %>
    <div style="padding:3px 0px 3px 0px;">
      <div style="width:120px; float:left;"><%= f.label :name %></div>
      <div><%= f.text_field :name, :size => '48' %><span> (required)</span></div>
    </div>
    <div style="padding:3px 0px 3px 0px;">
      <div style="width:120px; float:left;"><%= f.label :email %></div>
      <div><%= f.text_field :email, :size => '48' %><span> (required) (Not published)</span></div>
    </div>
    <div style="padding:3px 0px 3px 0px;">
      <div style="width:120px; float:left;"><%= f.label :uri %></div>
      <div><%= f.text_field :uri, :size => '48' %></div>
    </div>
    <div style="padding:3px 0px 3px 0px;">
      <div style="width:120px; float:left;"><%= f.label "Your comment" %></div>
      <div><%= f.text_area :body, :size => '57x10' %></div>
    </div>
    <div style="padding:3px 0px 3px 0px;">
      <div style="width:120px; float:left;">&nbsp;</div>
      <div><%= f.submit "Submit comment", :class => "blue_border", :style => "background-color:white; margin:10px 0px 5px 0px; padding:5px 20px 5px 20px; cursor:pointer;" %></div>
    </div>
  <% end %>
</div>
