<div style="padding:10px; padding-bottom:30px;">
  <div>
  <table style="width:100%">
  <tr>
    <td style="width:60px; height:60px; text-align:center; vertical-align:top;">
    <div class="cal" style="margin:0px; margin-top:12px; padding:1px;">
      <div style="line-height:15px;"><%= I18n.translate('date.abbr_month_names')[post.created_at.month] %></div>
      <div style="font-size:2em; top:0px; line-height:28px;"><%= post.created_at.day %></div>
      <div style="line-height:15px;"><%= post.created_at.year %></div>
    </div>
    </td>
    <td>
    <div style="margin:5px; margin-right:0px;">
      <div><span style="font-size:2em"><%= raw post.title %></span></div>
      <hr style="margin-bottom:0px;"/>
      <div style="float:left;" class="menu_element"><%= post.category.name %></div>
      <div style="float:right;" class="com_element">
      <span>
      <% c = post.comments.count %>
      <% if c == 0 %>
        <%= "No responses" %>
      <% else %>
        <%= c.to_s + " response" + (c == 1 ? "" : "s") %>
      <% end %>
      </span>
      </div>
    </div>
    </td>
  </tr>
  </table>
  </div>
  <div style="padding:0px 5px 0px 10px;">
    <div><p><%= raw post.summary %></p></div>
  </div>
  <div style="height:30px;">
  <%= link_to edit_post_path(post.id), :method => :get do %>
  <div class="blue_border" style="margin-left:10px; float:left; padding:5px 30px 5px 30px; text-align:center;">
    <span>Edit</span>
  </div>
  <% end %>
  <%= link_to post_path(post.id), :target => '_blank' do %>
  <div class="green_border" style="margin-left:10px; float:left; padding:5px 30px 5px 30px; text-align:center;">
    <span>View</span>
  </div>
  <% end %>
  </div>
  <div style="float:right;">
  <% unless post.tags.empty? %>
    <% html_arr = [] %>
    <% post.tags.each { |tag| html_arr << tag.name } %>
    <div class="tag_element">
    <%= raw html_arr.join ', ' %>
    </div>
  <% end %>
  </div>
</div>