<div id="title" style="padding-bottom:0px;">Buddhabrot images gallery</div>
<div id="post">
<div id="p_title">Buddhabrot</div>
<p>The 6 capital planes of the good ole Buddhabrot.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buda4D(ZrZi).jpg') do %>
  <img src="<%= asset_path 'Buda4D(ZrZi)_Thmb.jpg' %>" alt="" border="0" width="200" height="200" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('Buda4D(ZrCr).jpg') do %>
  <img src="<%= asset_path 'Buda4D(ZrCr)_Thmb.jpg' %>" alt="" border="0" width="200" height="200" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('Buda4D(ZrCi).jpg') do %>
  <img src="<%= asset_path 'Buda4D(ZrCi)_Thmb.jpg' %>" alt="" border="0" width="200" height="200" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Ci plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buda4D(CrCi).jpg') do %>
  <img src="<%= asset_path 'Buda4D(CrCi)_Thmb.jpg' %>" alt="" border="0" width="200" height="200" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('Buda4D(CrZi).jpg') do %>
  <img src="<%= asset_path 'Buda4D(CrZi)_Thmb.jpg' %>" alt="" border="0" width="200" height="200" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('Buda4D(CiZi).jpg') do %>
  <img src="<%= asset_path 'Buda4D(CiZi)_Thmb.jpg' %>" alt="" border="0" width="200" height="200" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
</tr>
</table>
</div>
<p>The Mandelbrot is contained inside a circle, so it can be easily inverted. The following planes represent the inverted Buddhabrot.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaInvert(Zr,Zi).jpg') do %>
	<img src="<%= asset_path 'BudaInvert(Zr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaInvert(Zr,Cr).jpg') do %>
	<img src="<%= asset_path 'BudaInvert(Zr,Cr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaInvert(Zr,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaInvert(Zr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Ci plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaInvert(Cr,Ci).jpg') do %>
	<img src="<%= asset_path 'BudaInvert(Cr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaInvert(Cr,Zi).jpg') do %>
	<img src="<%= asset_path 'BudaInvert(Cr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaInvert(Zi,Ci).jpg') do %>
	<img src="<%= asset_path 'BudaInvert(Zi,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zi, Ci plane</div>
</div>
</td>
</tr>
</table>
</div> 
<p>Nebula-style colored Buddhabrot: the red channel's for high densities, green for average, and blue for low.</p>
<div align="center">
<div id="img_table" style="width: 250px">
  <%= link_to asset_path('BuddhaBrotNebula.jpg') do %>
	<img src="<%= asset_path 'BuddhaBrotNebula_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
</div>
</div>
<p>Since it can be read as a 4D object, the Buddhabrot fits perfectly in a four-dimensional cube.</p>
<div align="center">
<div id="img_table" style="width: 200px">
  <%= link_to asset_path('HiperCuboBuddhaBrot(5).jpg') do %>
	<img src="<%= asset_path 'HiperCuboBuddhaBrot(5)_Thmb.jpg' %>" alt="" width="200" height="257" border="0" />
  <% end %>
</div>
</div>
<p>If the usual stuff is to use the Mandelbrot function (Z<sub>n</sub> = Z<sub>n-1</sub><sup>2</sup> + C), I've iterated a similar formula to generate this image: Z<sub>n</sub> = Z<sub>n-1</sub><sup>3</sup> + C.</p>
<div align="center">
<div id="img_table" style="width: 200px">
  <%= link_to asset_path('Buda(Var(Z_Z^3+C)).jpg') do %>
  <img src="<%= asset_path 'Buda(Var(Z_Z^3+C))_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</div>
<div id="p_title">Zooms</div>
<p>These images are an enlargement of the &quot;third eye&quot; on the buddha's forehead. Each gray-scale image takes a color channel (red, green, blue), and merging them results in the last one. <strong>Center at (-1.15, 0 i), side = 0.125</strong>.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomOjo3maxN500.jpg') do %>
	<img src="<%= asset_path 'BudaZoomOjo3maxN500_Thmb.jpg' %>" alt="" width="180" height="180" border="0" />
  <% end %>
  <div id="img_table_title" align="center">maxN = 500</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomOjo3maxN5000.jpg') do %>
	<img src="<%= asset_path 'BudaZoomOjo3maxN5000_Thmb.jpg' %>" alt="" width="180" height="180" border="0" />
  <% end %>
  <div id="img_table_title" align="center">maxN = 5000</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomOjo3maxN50000.jpg') do %>
  <img src="<%= asset_path 'BudaZoomOjo3maxN50000_Thmb.jpg' %>" alt="" width="180" height="180" border="0" />
  <% end %>
  <div id="img_table_title" align="center">maxN = 50000</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomOjo3Col.jpg') do %>
	<img src="<%= asset_path 'BudaZoomOjo3Col_Thmb.jpg' %>" alt="" width="180" height="180" border="0" />
  <% end %>
  <div id="img_table_title" align="center">BuddhaZoom third eye</div>
</div>
</td>
</tr>
</table>
</div>
<p>Enlargement of the circumference above the buddha's head. <strong>Center at (-1.4, 0 i), side = 0.003</strong>.</p>
<div align="center">
<div id="img_table" style="width: 200px">
  <%= link_to asset_path('BudaZoom(C(0,-1.4),L.003).jpg') do %>
	<img src="<%= asset_path 'BudaZoom(C(0,-1.4),L.003)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</div>
<p>Next sequence is a pretty deep zoom on the flying ghostbrots over the main figure's shoulder.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomA1(C(.7075,-1.2025),L.05).jpg') do %>
	<img src="<%= asset_path 'BudaZoomA1(C(.7075,-1.2025),L.05)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Center at (-1.2025, .7075 i)<br/>Side = .05</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomA2(C(.70845,-1.21775),L.0008).jpg') do %>
  <img src="<%= asset_path 'BudaZoomA2(C(.70845,-1.21775),L.0008)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Center (-1.21775, .70845 i)<br/>Side = .0008</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomA3(C(.70835,-1.217963),L.000016).jpg') do %>
	<img src="<%= asset_path 'BudaZoomA3(C(.70835,-1.217963),L.000016)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Center (-1.217963, .70835 i)<br/>Side = .000016</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoomA4(C(.70834436,-1.2179607),L.00000024).jpg') do %>
  <img src="<%= asset_path 'BudaZoomA4(C(.70834436,-1.2179607},L.00000024)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">C (-1.2179607, .70834436 i)<br/>Side = .00000024</div>
</div>
</td>
</tr>
</table>
</div>
<p>Both images are a zoom on the center of the Buddhabrot, but for the first one only the iterates of the minibrot centered at (-.16, 1.035 i) get painted.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoom(C(0,0),L.3).jpg') do %>
  <img src="<%= asset_path 'BudaZoom(C(0,0),L.3)Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Center at (0, 0 i) Side = .3<br/>Minibrot iterates only</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaZoom(C(0,0),L.3)(2).jpg') do %>
  <img src="<%= asset_path 'BudaZoom(C(0,0),L.3)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Center (0, 0 i) Side = .3<br/>All iterates</div>
</div>
</td>
</tr>
</table>
</div>
<p>The images below have been painted using my <%= link_to 'zooming applet', buddha_applet_path(2) %>. All parameters are specified, in case you want to try similar drawings.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BBrotZoom00015.jpg') do %>
  <img src="<%= asset_path 'BBrotZoom00015_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
  </div>
</td>
<td> 
<div id="img_table" style="height: 252px">
<div style="color: #F90; text-align: left; padding: 10px; position: relative; top: 65px">
  <b>Scan grid width:</b> <span style="color: #FFF">601</span><br/>
  <b>Detail:</b> <span style="color: #FFF">Very low</span><br/>
  <b>Center:</b> <span style="color: #FFF">(1.35, 0i)</span><br/>
  <b>Width:</b> <span style="color: #FFF">0.125 (32 X)</span><br/>
  <b>MinN-MaxN red:</b> <span style="color: #FFF">5 - 1000</span><br/>
  <b>MinN-MaxN green:</b> <span style="color: #FFF">10 - 3500</span><br/>
  <b>MinN-MaxN blue:</b> <span style="color: #FFF">15 - 6000</span>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buddhabrot00016.jpg') do %>
  <img src="<%= asset_path 'Buddhabrot00016_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table" style="height: 252px">
<div style="color: #F90; text-align: left; padding: 10px; position: relative; top: 65px">
  <b>Scan grid width:</b> <span style="color: #FFF">601</span><br/>
  <b>Detail:</b> <span style="color: #FFF">Very low</span><br/>
  <b>Center:</b> <span style="color: #FFF">(-0.158428, 1.03335i)</span><br/>
  <b>Width:</b> <span style="color: #FFF">0.030476 (~131.25 X)</span><br/>
  <b>MinN-MaxN red:</b> <span style="color: #FFF">30 - 12000</span><br/>
  <b>MinN-MaxN green:</b> <span style="color: #FFF">20 - 7000</span><br/>
  <b>MinN-MaxN blue:</b> <span style="color: #FFF">10 - 2000</span>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buddhabrot00020.jpg') do %>
  <img src="<%= asset_path 'Buddhabrot00020_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
	<% end %>
</div>
</td>
<td>
<div id="img_table" style="height: 252px">
<div style="color: #F90; text-align: left; padding: 10px; position: relative; top: 65px">
  <b>Scan grid width:</b> <span style="color: #FFF">601</span><br/>
  <b>Detail:</b> <span style="color: #FFF">Very low</span><br/>
  <b>Center:</b> <span style="color: #FFF">(-1.477333, 0.0i)</span><br/>
  <b>Width:</b> <span style="color: #FFF">0.018443 (~216.9 X)</span><br/>
  <b>MinN-MaxN red:</b> <span style="color: #FFF">0 - 15000</span><br/>
  <b>MinN-MaxN green:</b> <span style="color: #FFF">0 - 10000</span><br/>
  <b>MinN-MaxN blue:</b> <span style="color: #FFF">0 - 5000</span>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buddhabrot00041.jpg') do %>
  <img src="<%= asset_path 'Buddhabrot00041_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table" style="height: 252px">
<div style="color: #F90; text-align: left; padding: 10px; position: relative; top: 65px">
  <b>Scan grid width:</b> <span style="color: #FFF">601</span><br/>
  <b>Detail:</b> <span style="color: #FFF">Very low</span><br/>
  <b>Center:</b> <span style="color: #FFF">(-1.25586, 0.38095 i)</span><br/>
  <b>Width:</b> <span style="color: #FFF">0.01054 (~379.5 X)</span><br/>
  <b>MinN-MaxN red:</b> <span style="color: #FFF">0 - 10000</span><br/>
  <b>MinN-MaxN green:</b> <span style="color: #FFF">0 - 1000</span><br/>
  <b>MinN-MaxN blue:</b> <span style="color: #FFF">0 - 500</span>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buddhabrot00027.jpg') do %>
	<img src="<%= asset_path 'Buddhabrot00027_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table" style="height: 252px">
<div style="color: #F90; text-align: left; padding: 10px; position: relative; top: 65px">
	<b>Scan grid width:</b> <span style="color: #FFF">1501</span><br/>
  <b>Detail:</b> <span style="color: #FFF">Very low</span><br/>
  <b>Center:</b> <span style="color: #FFF">(0.0728025227119999, -1.1048127150340001i)</span><br/>
  <b>Width:</b> <span style="color: #FFF">0.032 (125 X)</span><br/>
  <b>MinN-MaxN red:</b> <span style="color: #FFF">20 - 10000</span><br/>
  <b>MinN-MaxN green:</b> <span style="color: #FFF">20 - 15000</span><br/>
  <b>MinN-MaxN blue:</b> <span style="color: #FFF">20 - 20000</span>
</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('Buddhabrot00012.jpg') do %>
  <img src="<%= asset_path 'Buddhabrot00012_thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table" style="height: 252px">
<div style="color: #F90; text-align: left; padding: 10px; position: relative; top: 65px">
  <b>Scan grid width:</b> <span style="color: #FFF">601</span><br/>
  <b>Detail:</b> <span style="color: #FFF">Very low</span><br/>
  <b>Center:</b> <span style="color: #FFF">(-0.1915867, 0.8151886i)</span><br/>
  <b>Width:</b> <span style="color: #FFF">0.0001165 (~34335 X)</span><br/>
  <b>MinN-MaxN red:</b> <span style="color: #FFF">200 - 10000</span><br/>
  <b>MinN-MaxN green:</b> <span style="color: #FFF">500 - 25000</span><br/>
  <b>MinN-MaxN blue:</b> <span style="color: #FFF">1000 - 50000</span>
</div>
</div>
</td>
</tr>
</table>
</div>
<div id="p_title">Animations</div>
<p>What happens as we check more and more points (Cs) on the plane. Starts with 1 C per pixel, and ends with 10000.</p>
<div align="center">
<div id="img_table" style="width: 150px">
  <%= link_to asset_path('BuddhaBrotNumCs(500x500)(Divx).avi') do %>
  <img src="<%= asset_path 'AnimNumCs_Thmb.jpg' %>" alt="" width="150" height="150" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cs</div>
</div>
</div>
<p>What happens as maxN increases (starts with 1, ends with 25000).</p>
<div align="center">
<div id="img_table" style="width: 150px">
  <%= link_to asset_path('BuddhaBrotMaxN1-25000(500x500)(Divx).avi') do %>
  <img src="<%= asset_path 'AnimMaxN_Thmb.jpg' %>" alt="" width="150" height="150" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Ns</div>
</div>
</div>
<p>Plane sweep. Only iterates of points within the horizontal strip get colored (measures 0.1).</p>
<div align="center">
<div id="img_table" style="width: 200px">
  <%= link_to asset_path('BuddhaBarrido(Divx).avi') do %>
  <img src="<%= asset_path 'BarridoBuddha_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Sweep</div>
</div>
</div>
<p>Rotation from plane (Cr,Ci) to (Zr,Zi). In other words, illustrates how iterates unfold from Mandelbrot to Buddhabrot.</p>
<div align="center">
<div id="img_table" style="width: 200px">
  <%= link_to asset_path('BuddhaBrot(Zr,Zi)a(Cr,Ci)(2).avi') do %>
  <img src="<%= asset_path 'TransicionBuddhaBrot_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Rotating (Cr, Ci) to (Zr, Zi)</div>
</div>
</div>
<p>Buddhagrams. The 3 clips show what happens when Z<sub>0</sub> is initialized with different values.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BuddhaGranim(1)(Zi_0-2)(Divx).avi') do %>
	<img src="<%= asset_path 'BuddhaGranimacion(1)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr<sub>0</sub> = 0<br/>Zi<sub>0</sub> = Grows from 0</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BuddhaGranim(3)(Zr_0-2)(Divx).avi') do %>
	<img src="<%= asset_path 'BuddhaGranimacion(3)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = Grows from 0<br/>Zi<sub>0</sub> = 0</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BuddhaGranim(2)(Zr,Zi_0-2)(Divx).avi') do %>
  <img src="<%= asset_path 'BuddhaGranimacion(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = Grows from 0<br/>Zi<sub>0</sub> = Grows from 0</div>
</div>
</td>
</tr>
</table>
</div>
<p>This animation tries to synthesize everything discussed in this article: zooms and rotations in 3 and 4D. The song is &quot;Across the Universe&quot; from the Beatles.</p>
<p>You can also watch it on <a href="http://www.youtube.com/index" target="_blank">You Tube</a> if you click <a href="http://www.youtube.com/watch?v=5ej3dj4x64k" target="_blank">here</a>, or download it from <a href="http://www.emule-project.net/home/perl/general.cgi?l=17" target="_blank">eMule</a> by hitting this link: <a href="ed2k://|file|BuddhaNimacion(XVid+MP3).avi|23255324|0243A842F7D96F454B932FF0E952B30C|h=H2BR5A3OXEA42VNUAG76KTP3GEBCRCP2|/|sources,62.57.2.65:7654|/">BuddhaNimacion(XVid+MP3).avi</a>.</p>
<div align="center">
<div id="img_table" style="width: 200px">
  <%= link_to asset_path('BuddhaNimacion(XVid+MP3).avi') do %>
	<img src="<%= asset_path 'BuddhAnimacion_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">BuddhAnimation</div>
</div>
</div>
<div id="p_title">Negative Buddhabrot</div>
<p>The 6 capital planes that result from painting the inside of the Mandelbrot with the Buddhabrot technique.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Zr,Zi).jpg') do %>
  <img src="<%= asset_path 'BudaNeg(Zr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Zr,Cr).jpg') do %>
  <img src="<%= asset_path 'BudaNeg(Zr,Cr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Zr, Ci).jpg') do %>
  <img src="<%= asset_path 'BudaNeg(Zr, Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Ci plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Cr,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaNeg(Cr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Cr,Zi).jpg') do %>
  <img src="<%= asset_path 'BudaNeg(Cr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Zi,Ci).jpg') do %>
	<img src="<%= asset_path 'BudaNeg(Zi,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zi, Ci plane</div>
</div>
</td>
</tr>
</table>
</div>
<p>The inverted version of the previous planes.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNegInvert(Zr,Zi).jpg') do %>
  <img src="<%= asset_path 'BudaNegInvert(Zr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNegInvert(Zr,Cr).jpg') do %>
  <img src="<%= asset_path 'BudaNegInvert(Zr,Cr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNegInvert(Zr,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaNegInvert(Zr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNegInvert(Cr,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaNegInvert(Cr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNegInvert(Cr,Zi).jpg') do %>
  <img src="<%= asset_path 'BudaNegInvert(Cr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNegInvert(Zi,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaNegInvert(Zi,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zi, Ci plane</div>
</div>
</td>
</tr>
</table>
</div>
<p>A couple more renders.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Zr,Zi)(2).jpg') do %>
	<img src="<%= asset_path 'BudaNeg(Zr,Zi)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaNeg(Zr,Zi)(3).jpg') do %>
  <img src="<%= asset_path 'BudaNeg(Zr,Zi)(3)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</td>
</tr>
</table>
</div>
<div id="p_title">Primitive Buddhabrot</div>
<p>the 6 capital planes from Linas Vepstas' original idea, colored with the Buddhabrot technique.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaPrim(Zr,Zi).jpg') do %>
  <img src="<%= asset_path 'BudaPrim(Zr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaPrim(Zr,Cr).jpg') do %>
  <img src="<%= asset_path 'BudaPrim(Zr,Cr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaPrim(Zr,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaPrim(Zr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Ci plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaPrim(Cr,Ci).jpg') do %>
	<img src="<%= asset_path 'BudaPrim(Cr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaPrim(Cr,Zi).jpg') do %>
  <img src="<%= asset_path 'BudaPrim(Cr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaPrim(Zi,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaPrim(Zi,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zi, Ci plane</div>
</div>
</td>
</tr>
</table>
</div>
<div id="p_title">Mutant Buddhabrots</div>
<p>These images resulted from typing code on a day-after-the-night-before.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaMutante1.jpg') do %>
	<img src="<%= asset_path 'BudaMutante1_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaMutante2.jpg') do %>
	<img src="<%= asset_path 'BudaMutante2_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaMutante3.jpg') do %>
  <img src="<%= asset_path 'BudaMutante3_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
</div>
</td>
</tr>
</table>
</div>
<div id="p_title">Buddhagram</div>
<p>The Buddhagram's idea is that any part of the image can be influenced by the whole 4D domain. To that effect, Z<sub>0</sub> gets initialized to a random number instead of 0. For the nth time, the 6 capital planes.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr,Zi)(2).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr,Zi)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr,Cr)(2).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr,Cr)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr,Ci)(2).jpg') do %>
	<img src="<%= asset_path 'BudaGram(Zr,Ci)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr, Ci plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Cr,Ci)(2).jpg') do %>
	<img src="<%= asset_path 'BudaGram(Cr,Ci)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Cr,Zi)(2).jpg') do %>
	<img src="<%= asset_path 'BudaGram(Cr,Zi)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zi,Ci)(2).jpg') do %>
	<img src="<%= asset_path 'BudaGram(Zi,Ci)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zi, Ci plane</div>
</div>
</td>
</tr>
</table>
</div>
<div id="p_title">Buddhagram variants</div>
<p>These images result from superimposing several axial cuts from the 4D data set -that is, several images generated with a different Z<sub>0</sub>; in planes (Zr,Cr) and (Zi,Ci) you can tell the profile of some of the cuts across the diagonal plane.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGramLam(Zr,Zi).jpg') do %>
	<img src="<%= asset_path 'BudaGramLam(Zr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGramLam(Zr,Cr).jpg') do %>
  <img src="<%= asset_path 'BudaGramLam(Zr,Cr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr, Cr plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGramLam(Zr,Ci).jpg') do %>
	<img src="<%= asset_path 'BudaGramLam(Zr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr, Ci plane</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGramLam(Cr,Ci).jpg') do %>
  <img src="<%= asset_path 'BudaGramLam(Cr,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Ci plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGramLam(Cr,Zi).jpg') do %>
	<img src="<%= asset_path 'BudaGramLam(Cr,Zi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Cr, Zi plane</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGramLam(Zi,Ci).jpg') do %>
	<img src="<%= asset_path 'BudaGramLam(Zi,Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zi, Ci plane</div>
</div>
</td>
</tr>
</table>
</div>
<p>The following drawings have been generated using a Z<sub>0</sub> different than 0.</p>
<div align="center">
<table style="margin: 0px; padding: 0px;" cellpadding="0px" cellspacing="0px">
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_.5,Zi_0).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_.5,Zi_0)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = .5, Zi<sub>0</sub> = 0</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_0,Zi_.5).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_0,Zi_.5)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = 0, Zi<sub>0</sub> = .5</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_.5,Zi_.5).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_.5,Zi_.5)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = .5, Zi<sub>0</sub> = .5</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_Cr,Zi_0).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_Cr,Zi_0)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = Cr, Zi<sub>0</sub> = 0</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_0,Zi_Ci).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_0,Zi_Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = 0, Zi<sub>0</sub> = Ci</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_SqrtAbsCr,Zi_SqrtAbsCi).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_SqrtAbsCr,Zi_SqrtAbsCi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = +Cr^.5, Zi<sub>0</sub> = +Ci^.5</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_SinCi,Zi_SinCr).jpg') do %>
	<img src="<%= asset_path 'BudaGram(Zr_SinCi,Zi_SinCr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = sin Ci, Zi<sub>0</sub> = sin Cr</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_SinCr,Zi_CosCi).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_SinCr,Zi_CosCi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = sin Cr, Zi<sub>0</sub> = cos Ci</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_CosCr,Zi_CosCi).jpg') do %>
	<img src="<%= asset_path 'BudaGram(Zr_CosCr,Zi_CosCi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr<sub>0</sub> = cos Cr, Zi<sub>0</sub> = cos Ci</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_CosCr,Zi_SinCi).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_CosCr,Zi_SinCi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = cos Cr, Zi<sub>0</sub> = sin Ci</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Z_Sin(complex(Ci,Cr))).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Z_Sin(complex(Ci,Cr)))_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Z<sub>0</sub> = sin complex(Ci, Cr i)</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_SinCr,Zi_SinCi).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_SinCr,Zi_SinCi)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = sin Cr, Zi<sub>0</sub> = sin Ci</div>
</div>
</td>
</tr>
<tr>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_Ci, Zi_Cr)(2).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_Ci, Zi_Cr)(2)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = Ci, Zi<sub>0</sub> = Cr</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_Ci, Zi_Cr).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_Ci, Zi_Cr)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
	<div id="img_table_title" align="center">Zr<sub>0</sub> = Ci, Zi<sub>0</sub> = Cr</div>
</div>
</td>
<td>
<div id="img_table">
  <%= link_to asset_path('BudaGram(Zr_-Cr,Zi_Ci).jpg') do %>
  <img src="<%= asset_path 'BudaGram(Zr_-Cr,Zi_Ci)_Thmb.jpg' %>" alt="" width="200" height="200" border="0" />
  <% end %>
  <div id="img_table_title" align="center">Zr<sub>0</sub> = -Cr, Zi<sub>0</sub> = Ci</div>
</div>
</td>
</tr>
</table>
</div>
<div id="p_title">Mandelbrot distance estimators</div>
<p>Mandelbrot render representing distances to the closest point on the fractal's border. Points outside the set brighten as they approach it; points inside M darken as they get closer to the border.</p>
<p>See <%= link_to 'Appendix 2: Interior and exterior distance bounding for the Mandelbrot', buddha_appendix_path(2) %>.</p>
<div align="center">
<div id="img_table" style="width:250px; margin-bottom:10px;">
  <%= link_to asset_path('imgs/MandelDistEst.jpg') do %>
  <img src="<%= asset_path 'MandelDistEst_Thmb.jpg' %>" alt="" width="250" height="250" border="0" />
  <% end %>
</div>
</div>
</div>