<% content_for :head do %>
  <title>moleculardensity informatica upc</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
<style>pre { border-style:none; }</style>
<script type="text/javascript" language="javascript">
  <!--
  $(function(){ adjust_overflow(); });
  function ajaxify(element_id) {
    $(element_id)
      .bind('ajax:beforeSend', on_ajax_before_send)
      .bind('ajax:complete', on_ajax_complete)
      .bind('ajax:success', on_ajax_success)
      .bind('ajax:error', on_ajax_error);
  }
  function on_ajax_before_send(evt, xhr, settings) {
    $('#loader').show();
  }
  function on_ajax_complete(evt, xhr, status) {
    $('#loader').hide();
  }
  function on_ajax_success(evt, data, status, xhr) {
    $('#page_body').fadeOut(400, function() {
      $('#page_body').html(data.body);
      $('#page_body').fadeIn();
    });
    $('#navigation').html(data.routes);
    $('#loader').hide();
  }
  function on_ajax_error(evt, xhr, status, error) {
    $('#page_body').fadeOut(400, function() {
      $('#page_body').html(data.message);
      $('#page_body').fadeIn();
    });
    $('#loader').hide();
  }
  function adjust_overflow() {
    w = $('#page_body').width()
    h = $('#main_canvas').height() - $('#navigation').height() - 22;
    $('#page_body').css({width:w, height:h, overflow:'auto'});
  }
  -->
</script>

<% end %>
<% content_for :body do %>
<div id="body_wrapper" class="blue_border" style="height:600px;">
<div style="text-align:center; padding:10px 50px 0px 50px;">
  <div style="float:left; padding-top:15px;"><g:plusone></g:plusone></div>
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" style="float:left; padding-top:17px;"></div>
  <div style="float:left; padding-top:17px;">
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
  <div class="blue_border" style="background-color:blue; width:120px; margin:auto; padding:5px 5px 0px 5px;">
    <a href="http://www.upc.es"><img src="<%= asset_path 'Logo_UPC.gif' %>" alt="web UPC" /></a>
    <a href="http://www.fib.upc.edu/"><img src="<%= asset_path 'Logo_FIB.gif' %>" alt="web FIB" style="padding-bottom:4px;" /></a>   
  </div>
  <div style="padding:5px;"><span style="font-size:1.2em; font-weight:bold;">Informatica UPC</span></div>
  <div id="main_canvas" class="blue_border" style="height:470px;">
    <div style="float:left; padding:10px; width:16px; height:16px;"><div id="loader" style="display:none;"><img src="<%= asset_path 'ajax-loader.gif' %>"></div></div>
    <div id="navigation" style="text-align:left; padding:10px;"><%= raw @nav %></div>
    <div id="page_body"><%= raw @proyectos %></div>
  </div>
  <div style="padding-top:10px;"><span>&copy; 2011 Albert Lobo Cusid&oacute;</span></div>
</div>
</div>
<% end %>
