<% content_for :head do %>
  <title>moleculardensity blog</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, feed_path, :title => 'Molecular density blog feed' %>
<% end %>
<% content_for :body do %>
  <div id="body_wrapper">
    <div id="header"><div class="regular_border" style="height:100px; padding-bottom:0px; margin-bottom:0px;"/></div>
    <div id="content_wrapper">
	    <%= render "sidebar/google_ads_bar" %>
      <div class="regular_border">
	      <%= yield %>
      </div>
      <div class="regular_border" style="padding-left:25px;">
        <span>&copy; 2011 Albert Lobo Cusid&oacute;</span>
      </div>
    </div>
	  <div id="sidebar">
	    <%= render "sidebar/sidebar" %>
	  </div>
  </div>
<% end %>
<%= render :template => 'layouts/application' %>
