<% content_for :head do %>
  <title>moleculardensity informatica upc</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">pre { border-style:none; padding:0px; }</style>
<% end %>
<% content_for :body do %>
<div id="body_wrapper" class="blue_border">
<div style="text-align:center; padding:10px 50px 0px 50px;">
  <div style="float:left; padding-top:15px;"><g:plusone></g:plusone></div>
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" style="float:left; padding-top:17px;"></div>
  <div style="float:left; padding:17px 0px 0px 5px;">
  <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
  </div>
  <div style="text-align:right; float:right; padding-top:10px;">
    <%= link_to "blog", posts_path %><br/>
    <%= link_to 'buddhabrot', buddha_article_path(1) %><br/>
    <%= link_to 'acerca de', about_path %>
  </div>
  <div class="blue_border" style="background-color:blue; width:120px; margin:auto; padding:5px 5px 0px 5px;">
    <a href="http://www.upc.es"><img src="<%= asset_path 'Logo_UPC.gif' %>" alt="web UPC" /></a>
    <a href="http://www.fib.upc.edu/"><img src="<%= asset_path 'Logo_FIB.gif' %>" alt="web FIB" style="padding-bottom:4px;" /></a>   
  </div>
  <div style="padding:5px 5px 5px 75px;">
  <span style="font-size:1.2em; font-weight:bold;">
  <%= link_to 'Informatica UPC', informatica_home_path %>
  </span>
  </div>
  <div id="main_canvas" class="blue_border" style="width:958px;">
  <%= yield %>
  </div>
  <div style="padding:10px 0px 10px 0px;"><span>&copy; 2011 Albert Lobo Cusid&oacute;</span></div>
</div>
</div>
<% end %>
<%= render :template => 'layouts/application' %>
